################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerNewsBestStoriesAPI/.vs
/HackerNewsBestStoriesAPI/HackerNewsBestStoriesAPI/bin/Debug/net8.0
